<!DOCTYPE HTML>
<!-- Addison Partida and Henry Pearson -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" />
    <title>Nutritional Contents</title>
</head>

<body>
    <div id="belowheader"><h1> Welcome to our website!</h1>
      <div id="border_left"></div>
      <div id="op_space">
      We created this website in hopes of creating of a tool where people can easily search for common foods
      and gain statistics about their nutritional contents. We recognize that different people have different
      nutritional needs and have therefore allowed for the user to customize the table to cater to their needs.</div>
      <div id="border_right"></div>
    </div>
</body>
</html>
