<!-- Addison Partida and Henry Pearson -->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'home.css')}}" />
    <meta charset="UTF-8">
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}" defer></script>
    <title>Nutritional Contents</title>
</head>
<body>
  <!-- Navigation bar-->
<h1 class = "header"><center> Welcome to our website!<center></h1>
  <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">Links</a>
      <a href="#contact">Sources</a>
  </div>
<!-- Green Part -->
<div class = "column left">
  <body>
      <h2>Select Filter Data</h2>

      <!--<p><input id="magicword" type="text" />-->
      <button id="generateTable">Generate Table</button>
      <br>
      <select id='filterList'>
        <option value = 'calories'>Calories</option>
        <option value = 'calories_fat'>Calories From Fat</option>
        <option value = 'total_fat'>Total Fat</option>
        <option value = 'sat_fat'>Saturated Fat</option>
        <option value = 'trans_fat_acid'>Trans Fatty Acid</option>
        <option value = 'poly_unsat_fat'>Polyunsaturated Fat</option>
        <option value = 'mono_unsat_fat'>Monounsaturated Fat</option>
        <option value = 'cholesterol'>Cholesterol</option>
        <option value = 'sodium'>Sodium</option>
        <option value = 'total_carb'>Total Carbohydrates</option>
        <option value = 'dietary_fiber'>Dietary Fiber</option>
        <option value = 'sugars'>Sugars</option>
        <option value = 'vitamin_a'>Vitamin A</option>
        <option value = 'vitamin_c'>Vitamin C</option>
        <option value = 'calcium'>Calcium</option>
        <option value = 'iron'>Iron</option>
        <option value = 'potassium'>Potassium</option>
      </select>
      <button id='generateFilter'>Create Filter</button>
      <div id='filterColumn'></div>
      <br>
      <br>
  </body>
</div>

<!-- Red part -->
<div class = "column right">
    <p>We created this website in hopes of creating of a tool where people can easily search for common foods
    and gain statistics about their nutritional contents. We recognize that different people have different nutritional needs
  and have therfore allowed for the user to customize the table to cater to their needs. Here is a list of items that
we allow user to search by:</p>
  <!-- Buidling table -->
  <style>

  table {
      border-collapse: collapse;
      width: 100%;
      padding: 10px 10px 10px 10px
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: white}
  </style>
  <body>
  <h2>Nutritional statistics</h2>
  <!--link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>-->

  <div style="overflow-x:auto;">
    <table id="results_table">
      <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("results_table");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
    </table>
  </div>
</div>

  </body>
</html>
